<!doctype html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.github.url }}/css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.github.url }}/css/main.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
 
<body>
    <!--{% include nav.html %}-->
    {{ content }}
</body>
</html>
